<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Database Status</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
            background-color: #f4f4f4;
        }
        .box {
            padding: 30px;
            background: white;
            display: inline-block;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #ccc;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1 th:text="${message}"></h1>
    </div>
</body>
</html>